.App {
  height: 100vh;  
}

.main {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  background-color: red;
  height: 88vh;  
}

.App-header {
  background-color: #222;
  height: 12vh;
  width: 100vw;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.headers {
  font-size: .8rem;
  word-break: break-word;
  min-width: 400px;
}

.field {
  background-color: white;
  padding: 20px;
  margin: 30px;
  line-height: 1.2rem;
}

h4 {
  margin-top: 0px;
}

.button {
  font-size: .8rem;
  display: inline-block;
  border-radius: 50px;
  border: 2px solid white;
  cursor: pointer;
  padding: 10px;
}